---
const { heading, text, label, url } = Astro.props;
---
<section class="block-cta">
  {heading && <h2>{heading}</h2>}
  {text && <p>{text}</p>}
  <a class="button" href={url}>{label}</a>
</section>
