---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export const prerender = true;

const posts = await getCollection('posts');
---

<Layout title="Astro + Keystatic Starter">
  <div>
    <h1>Astro + Keystatic Starter</h1>
    <p>Edit content in Keystatic (dev only: <code>npm run dev</code> then visit <code>/keystatic</code>).</p>
    {posts.length > 0 && (
      <section>
        <h2>Posts</h2>
        <ul>
          {posts.map(post => (
            <li>
              <a href={`/posts/${post.id}`}>{post.data.title}</a>
            </li>
          ))}
        </ul>
      </section>
    )}
  </div>
</Layout>
