---
import { getDocsSidebar } from "../lib/site";
const { currentPath } = Astro.props;
const items = await getDocsSidebar();
---
<aside class="docs-sidebar">
  <ul>
    {items.map((item: any) => (
      <li><a href={item.url} aria-current={item.url === currentPath ? "page" : undefined}>{item.title}</a></li>
    ))}
  </ul>
</aside>
